---
---

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer=""></script>
<script>
  window.OneSignal = window.OneSignal || [];
  window.OneSignal.push(function () {
    window.OneSignal.init({
      appId: '6717c7aa-5eb7-4e01-9edd-28892a25aeef',
    });
  });
</script>

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.webmanifest" />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div class="onesignal-customlink-container"></div>
  </body>
</html>
